<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Wesh alors</h1>
        <div class="">
<img src="{{ asset ('img/lion-cub-2886432_1920.jpg')}}" alt="">      
</div>
    </body>
</html>
