<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Wesh alors</h1>
        <div class="">
<img src="http://image.noelshack.com/fichiers/2018/38/5/1537513762-chaton-fb-593eb3ebd3c5d.jpg" alt="">        
</div>
    </body>
</html>
