<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Wesh alors</h1>
        <div class="">
            <img src="{{ absolute_url(asset('images/chaton-mignon-21.png')) }}" alt="">
        </div>
    </body>
</html>
